*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
input{
    border-radius: 4px 0px 0px 4px;
    background: #FFF;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 30px;
    border: 0;
}
a{
    color: white;
    text-decoration: none;
}
p{
    font-size: 14px;
}
.head{
    background-image: url(./images_our_coffee/coffee-shop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
}
header{
    display: flex;
    align-items: center;
}
.container{
    margin: 0 auto;
    padding: 0 20px;
    width: 1140px;
}
.title h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}
.links{
    margin-top: 30px;
    display: flex;
    gap: 40px;
    align-items: end;
}
.line{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 20px;
}
.black{
    width: 60px;
    height: 1px;
    background: #000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.about_beans{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.about{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
}
.girl img{
    box-shadow: 1px 5px 25px gray;
}
.text_box h1{
    text-align: center;
    font-size: 24px;
}
.text_box p{
    width: 346px;
    text-align: center;
}
.line1{
    margin-top: 57px;
    width: 240px;
    height: 1px;
    background-color: #000;
}
.search_box{
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.searcher{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.searcher span{
    font-size: 14px;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    color: rgba(0, 0, 0, 0.50);
}
.filter{
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter input{
    font-size: 12px;
    align-items: center;
    color: #000;
}
.filter span{
    margin-right: 30px;
}
.grids{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 60px 70px;
    margin-bottom: 30px;
}
.grid{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 0 24px;
    height: 260px;
    border-radius: 8px;
}
.price{
    width: 100%;
    text-align: end;
    font-weight: 700;
}
.country{
    width: 100%;
    text-align: end;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
    height: 150px;
}
.links1{
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
    align-items: end;
}
.links1 a{
    color: #000;
}
.down{
    margin-bottom: 0;
}